* {
       margin               : 0px ;
       padding              : 0px ;
}

body {
       font-family          : 'Verdana' , Arial , Tahoma , Sans-Serif ;
       font-size            : 13px ;
       font-weight          : normal !important ;
}

#main {
       padding              : 5px ;
       border               : 1px solid #CCC ;
       width                : 600px ;
       margin               : 0px auto ;
       margin-top           : 50px ;
}

#online-list {
       float                : right ;
       background-color     : #F1F1F1 ;
       padding              : 5px !important ;
}

#online-list ul {
       list-style-image     : url( '../Images/online.png' ) ; 
}

.system-message {
       color                : #660033 ;
       font-style           : italic ;
}

.system-message:before {
       content              : '> ' ;
}

#users {                  
       width                : 150px ;
       float                : right ;
}

#messages {
       padding-top          : 0px !important ;
       border               : 0px solid ;
}

#messsage-box {
       margin-top           : 10px ;
       position             : relative ;
}

textarea {
       font-family          : Tahoma , Arial ;
       font-size            : 15px ;
}

.text-message {
       text-align           : justify ; 
}

#join {
       padding              : 5px ;
}

#join input:not( [ type='button' ] )  {
       font-size            : 16px ;
}

#join table tr td {
       padding              : 1px;
}

#joinButton , #registerButton {
       padding              : 5px ;
}

hr {
       border               : none ;
       border-top           : 1px solid #CCC ;
       margin-top           : 10px ;
       margin-bottom        : 10px ;
}